# Configuration file

####################
# arrowconfig
####################

arrowconfig {
    S:"CraftedStackSize Confusing Arrow"=4
    S:"CraftedStackSize Dirt Arrow"=4
    S:"CraftedStackSize Exploding Arrow"=4
    S:"CraftedStackSize Fire Arrow"=4
    S:"CraftedStackSize Frost Arrow"=4
    S:"CraftedStackSize Penetrating Arrow"=4
    S:"CraftedStackSize Redstonetorch Arrow"=4
    S:"CraftedStackSize Rope Arrow"=4
    S:"CraftedStackSize Seed Arrow"=4
    S:"CraftedStackSize Slime Arrow"=4
    S:"CraftedStackSize Torch Arrow"=4
    S:"CraftedStackSize Warp Arrow"=4
    S:"Damage Confusing Arrow"=4
    S:"Damage Dirt Arrow"=4
    S:"Damage Exploding Arrow"=4
    S:"Damage Fire Arrow"=4
    S:"Damage Frost Arrow"=4
    S:"Damage Penetrating Arrow"=4
    S:"Damage Redstonetorch Arrow"=4
    S:"Damage Rope Arrow"=4
    S:"Damage Seed Arrow"=4
    S:"Damage Slime Arrow"=4
    S:"Damage Torch Arrow"=4
    S:"Damage Warp Arrow"=4
}


####################
# "arrows enabled"
####################

""arrows enabled"" {
    B:"Confusing Arrow"=true
    B:"Dirt Arrow"=true
    B:"Exploding Arrow"=true
    B:"Fire Arrow"=true
    B:"Frost Arrow"=true
    B:"Penetrating Arrow"=true
    B:"Redstonetorch Arrow"=true
    B:"Rope Arrow"=true
    B:"Seed Arrow"=true
    B:"Slime Arrow"=true
    B:"Torch Arrow"=true
    B:"Warp Arrow"=true
}


####################
# block
####################

block {
    I:blockIdGrapplingHook=4028
    I:blockIdRope=4029
    I:blockIdRopeDJRoslin=4027
    I:blockIdZipLineAnchor=4026
}


####################
# general
####################

general {
    B:"Equipped Bow Tool Tip"=true
    I:"GUI String x coordinate, higher value means more to the right"=2
    I:"GUI String y coordinate, higher value means lower"=5
    B:disableBowHook=false
    I:"max HookShot Rope Length"=75
}


####################
# item
####################

item {
    I:itemIdArrowConfusion=31681
    I:itemIdArrowDirt=31680
    I:itemIdArrowExplosion=31679
    I:itemIdArrowFire=31678
    I:itemIdArrowGrass=31677
    I:itemIdArrowIce=31676
    I:itemIdArrowLaser=31675
    I:itemIdArrowRedstoneTorch=31670
    I:itemIdArrowRope=31674
    I:itemIdArrowSlime=31673
    I:itemIdArrowTorch=31672
    I:itemIdArrowWarp=31671
    I:itemIdGrapplingHook=31683
    I:itemIdHookShot=31669
    I:itemIdHookshotCartridge=31668
    I:itemIdRope=31684
    I:itemIdRopesPlusBow=31682
}


